<div>
  <nb-card>
    <nb-card-header>Add New User</nb-card-header>
    <nb-card-body>
    <!--
      <label for="price" class="label">Stock</label>
      <form>
        <div class="form-group">
          <label for="price" class="label">Price</label>
          <input type="price" nbInput fullWidth id="price" placeholder="Price">
        </div>
        <div class="form-group">
          <label for="stockQuantity" class="label">Stock Quantity</label>
          <input type="stockQuantity" nbInput fullWidth id="stockQuantity" placeholder="Stock Quantity">
        </div>
        <div class="form-group">
          <label for="stockTicker" class="label">Stock Ticker</label>
          <input type="stockTicker" nbInput fullWidth id="stockTicker" placeholder="Stock Ticker">
        </div>
        <button type="submit" nbButton status="danger">Submit</button>
      </form>
    -->
    <div>
      <label for="price" class="label">Stock</label>
      <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="price" class="label">Price</label>
          <input type="price" nbInput fullWidth id="price" placeholder="Price" formControlName="price">
        </div>
        <div class="form-group">
          <label for="stockQuantity" class="label">Stock Quantity</label>
          <input type="stockQuantity" nbInput fullWidth id="stockQuantity" placeholder="Stock Quantity" formControlName="stockQuantity">
        </div>
        <div class="form-group">
          <label for="stockTicker" class="label">Stock Ticker</label>
          <input type="stockTicker" nbInput fullWidth id="stockTicker" placeholder="Stock Ticker" formControlName="stockTicker">
        </div>
        <button type="submit" nbButton status="danger">Submit</button>
      </form>
    </div>
    </nb-card-body>
  </nb-card>
  
</div>
