<nb-card size="medium">

  <nb-card-header>
    <span>Trade Activity</span>
    <nb-select matRipple [selected]="curUser" (selectedChange)="getUserAllTrade($event); curUser = $event">
      <nb-option matRipple *ngFor="let t of allUsersIds" [value]="t">{{ t }}</nb-option>
    </nb-select>
    
  </nb-card-header>

  <nb-list class="all-trade-list">
    <nb-list-item *ngFor="let item of alltrades">

      <div class="stock-create-date">
        {{ item.createDate}}
      </div>

      <div class="stock-ticker">
        <div class="caption">Stock Ticker</div>
        <div class="value">{{ item.stockTicker }}</div>
      </div>

      <div class="stock-quantity">
        <div class="caption">Quantity</div>
        <div class="value">{{ item.quantity }}</div>
      </div>

      <div class="stock-asking-price">
        <div class="caption">Asking Price</div>
        <div class="value">{{item.askingPrice}}</div>
        <!--
        <div class="delta value" [class.up]="item.deltaUp" [class.down]="!item.deltaUp">
          <nb-icon [icon]="item.deltaUp ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
          {{ item.newVisits }}%
        </div>
        -->
      </div>

      <div class="stock-state">
        <div class="caption">STATE</div>
        <div class="value">{{item.state}}</div>
      </div>
    </nb-list-item>
  </nb-list>


</nb-card>
